{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span7">
		<h1>Listado de Contenidos</h1>
		<ul class="messagesList">
		{% for phase in phases %}
			<li>
				<a class="phase" href="#" data-id="{{ phase.phase_id }}"><span class="from"><span class="glyphicons star"><i></i></span>Fase: {{ phase.phaseName }} <i></i></span></span><span class="title"><span class="label label-info"> Programa: {{ phase.programName }}</span></span></a><span class="date"><a class="openModal" href="#"><i class="halflings-icon trash"></i></a></span>
			</li>
		{% endfor %}
		</ul>
		<div class="center">
		 	<a class="btn btn-info" href="#" id="new">
				<i class="halflings-icon white plus"></i> Nueva Fase 
			</a>
		 </div>
	</div>
	<div class="span5 noMarginLeft">
		<div class="message dark">
			<div class="header">
				<h1>Nueva Fase</h1>							
			</div>						
			<div class="content">
				<form id="phaseForm" class="replyForm" method="post" action="/content">
					<fieldset>
						<input type="hidden" id="_id" name="_id" value="undefined"/>
						<label for="programName">Programa:</label>
						<select id="programName" name="programName">
							<option value="Parto Eutocico Simple">Parto Eutocico Simple</option>
						</select>
						<label for="phaseName">Fase:</label><input id="phaseName" name="phaseName" type="text" value=""/>
						<label for="prevPhase">Fase Anterior:</label>
						<select id="prevPhase" name="prevPhase">
							<option value="-1">N/A</option>
						</select>
						<label for="nextPhase">Fase Siguiente:</label>
						<select id="nextPhase" name="nextPhase">
							<option value="-1">N/A</option>
						</select>
						<label for="spriteSheet">Hoja de Sprites:</label>
						<select id="spriteSheet" name="spriteSheet">
							<option value="N/A">Seleccione una hoja aqu&iacute;</option>
							<option value="0">Fase 1</option>
							<option value="1">Fase 2</option>
							<option value="2">Fase 3</option>
							<option value="3">Fase 4</option>
							<option value="4">Fase 5</option>
							<option value="5">Fase 6</option>
							<option value="6">Fase 7</option>
						</select>
						<label>Contenido:</label>
						<textarea tabindex="3" class="input-xlarge span12" id="description" name="description" rows="12"></textarea>
						<div class="actions">
							<button tabindex="3" type="submit" class="btn btn-success">Guardar Datos</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	$(function(){
		$.ajax({
			url: "getAllPhases",
			type: "GET",
			success: function(receivedData){
				$.each(receivedData, function(i, element){
					var elementHtml = "<option value='"+ element._id +"'>"+ element.phaseName +"</option>";
					$("#prevPhase").append(elementHtml);
					$("#nextPhase").append(elementHtml);
				});
			}
		});
	});

	$("a#new").click(function(){
		$(".header").html("<h1>Nueva Fase</h1>");
		$("#_id").val("undefined");
		$("#phaseName").val("");
		$("#prevPhase").val("-1");
		$("#nextPhase").val("-1");
		$("#spriteSheet").val("-1");
		$("#description").html("");
	});

	$("a.phase").click(function(){
		var data = {
			_id: $(this).attr("data-id")
		}
		$.ajax({
			url: "getPhaseInfo",
				data: data,
	            type: 'GET',
	            success: function(receivedData){
		        	console.log(receivedData);
		        	$("#_id").val(data._id);
		        	$(".header").html("<h1>Editar Fase</h1>");
		        	$("#programName").val(receivedData.programName);
		        	$("#phaseName").val(receivedData.phaseName);
		        	$("#prevPhase").val(receivedData.prevPhase);
		        	$("#nextPhase").val(receivedData.nextPhase);
		        	$("#spriteSheet").val(receivedData.spriteSheet);
		        	$("textarea").html(receivedData.description);
	            }            
        });
	});

	phaseId = '';

	function customSelectElement(element){
		var liParent = $(element).parentsUntil('ul')[1];
		phaseId = $(liParent).find("a.phase").attr("data-id");
	}

	function deleteElement(){
		$.form('/deletePhase', { _id: phaseId }, 'POST').submit();
	}
</script>
{% endblock %}