{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
		<h1>Preguntas y Respuestas</h1>
		<h2>Programa: Parto Eutocico Simple</h2>		
		{% for phase in phases %}
		<a href="#" class="phase" data-id="{{ phase.phase_id }}"><div class="priority info"><span>{{ phase.phaseName }}</span></div></a>
		<ul style="list-style-type: none; display: none;">
			<li class="task info">
				<div class="desc">
					<div class="title">No tiene ninguna pregunta en esta fase</div>
					<div>Si quiere agregar una pregunta, haga click <a href="#">aqu&iacute;</a></div>
				</div>
			</li>
		</ul>
		{% endfor %}
		<div class="clearfix"></div>
		<br><br>		
		<div class="center">
		 	<a id="newAsk" class="btn btn-info" href="#">
				<i class="halflings-icon white plus"></i> Agregar Pregunta 
			</a>
		 </div>
	</div>
</div>
<div id="row-form" class="row-fluid sortable ui-sortable" style="display: none;">
	<div class="box span12">
		<div class="box-header" data-original-title="">
			<h2><i class="halflings-icon white edit"></i><span class="break"></span>Agregar Nueva Pregunta</h2>
		</div>
		<div class="box-content" style="display: block;">
			<form class="form-horizontal" method="post" action="/questions">
				<input id="_id" name="_id" type="hidden" value="undefined"/>
				<fieldset>
				  <div class="control-group">
					<label class="control-label" for="programName">Programa: </label>
					<div class="controls">
					  <select id="programName" name="programName">
						<option selected="selected" value="Parto Eutocico Simple">Parto Eutocico Simple</option>
					  </select>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="programName">Fase: </label>
					<div class="controls">
					  <select id="phase" name="phase">
					    {% for phase in phases %}
					    {% if forloop.counter == 0 %}
						<option selected="selected" value="{{ phase.phase_id }}">{{ phase.phaseName }}</option>
						{% else %}
						<option value="{{ phase.phase_id }}">{{ phase.phaseName }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="text">Pregunta: </label>
					<div class="controls">
					  <textarea tabindex="3" class="input-xlarge span12" id="text" name="text" rows="3"></textarea>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="answer">Respuesta: </label>
					<div class="controls">
					  <textarea tabindex="3" class="input-xlarge span12" id="answer" name="answer" rows="9"></textarea>
					</div>
				  </div>
				  <div class="form-actions">
					<button type="submit" class="btn btn-primary">Guardar</button>
					<button type="button" id="cancelAsk" class="btn">Cancelar</button>
				  </div>
				</fieldset>
			  </form>
		
		</div>
	</div><!--/span-->			
</div>
{% endblock %}
{% block scripts %}
<script>
	$("a.phase").click(function(){
		var phaseId = $(this).attr("data-id");
		var ul = $(this).next("ul");

		var data = { _id : phaseId};

		if ($(ul).css("display") == "none"){
			$.ajax({
				url: "getPhaseQuestions",
					data: data,
		            type: 'GET',
		            success: function(receivedData){
		            	$(ul).html("");
		            	var questionHtml = '';
		     	       	if (receivedData.length > 0){
		     	       		$(receivedData).each(function(index, question){
		     	       			questionHtml = '<li class="task info" data-id="'+ question._id +'"><div class="desc"><div class="title">'+ question.text +'</div><div class="answer">'+ question.answer +'</div></div><div class="time"><div class="date"><a href="#"><i class="halflings-icon edit"></i></a><a class="openModal" href="#"><i class="halflings-icon trash"></i></a></div></div></li>';
		     	       			$(ul).append(questionHtml);
		     	       		});
		            	} else {
		            		questionHtml = '<li class="task info"><div class="desc"><div class="title">No tiene ninguna pregunta en esta fase</div><div>Si quiere agregar una pregunta, haga click <a href="#">aqu&iacute;</a></div></div></li>';
		            		$(ul).html(questionHtml);
		            	}
		            	
		            	$(ul).show();
		            }            
	        });
		} else {
			$(ul).hide();
		}
	});

	$("#newAsk").click(function(){
		$("h2").html('<i class="halflings-icon white edit"></i><span class="break"></span>Agregar Nueva Pregunta');

		var parentDiv = $(this).parent();
		$(parentDiv).hide();
		$("#row-form").show();
	});

	$("#cancelAsk").click(function(){
		$("#row-form").hide();
		var buttonParentDiv = $("#newAsk").parent();
		$(buttonParentDiv).show();
		$("#_id").val("undefined");
		$("#text").val("");
		$("#answer").val("");
		$("#phase").attr("disabled", false);
		$("#programName").attr("disabled", false);
	});

	$(document).ready(function(){
		$(this).on("click", ".edit", function(){
			$("h2").html('<i class="halflings-icon white edit"></i><span class="break"></span>Editar Pregunta');

			var liParent = $(this).parentsUntil("ul")[3];
			var phaseElement = $(liParent).parent().parent().find(".phase");
			phaseSelectorOption = "#phase option[value=" + $(phaseElement).attr("data-id") + "]";

			var buttonParentDiv = $("#newAsk").parent();
			$(buttonParentDiv).hide();

			$(phaseSelectorOption).prop("selected", true);
			//$("#programName").attr("disabled", true);
			//$("#phase").attr("disabled", true);
			$("#_id").val($(liParent).attr("data-id"));
			$("#text").val($(liParent).find(".title").html());
			$("#answer").val($(liParent).find(".answer").html());

			$("#row-form").show();
		});
	})

	phaseId = '';
	questionId = '';

	function customSelectElement(element){
		var liParent = $(element).parentsUntil("ul")[2];
		var phaseElement = $(liParent).parent().parent().find(".phase");
		questionId = $(liParent).attr("data-id");
		phaseId = $(phaseElement).attr("data-id");
	}

	function deleteElement(){
		$.form('/deleteQuestionFromPhase', 
			{ phaseId: phaseId, questionId: questionId }, 
			'POST').submit();
	}
</script>
{% endblock %}