{% extends "layout.html" %}
{% block content %}
<div class="box span12">
	<div class="box-header" data-original-title="">
		<h2><i class="halflings-icon white user"></i><span class="break"></span>Estudiantes Registrados</h2>
	</div>
	<div class="box-content">
		<table class="table table-condensed">
			  <thead>
				  <tr>
					  <th>Nombre de Estudiante</th>
					  <th>Fecha de Registro</th>
					  <th>Programa de Estudio</th>
					  <th>Fase</th>                                          
					  <th>Puntuaci&oacute;n acumulada</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>   
			  <tbody>
			    {% for x,student in students %}
				<tr class="student_id" data-id="{{ student.student_id }}">
					<td class="studentFullName">{{ student.fullName }}</td>
					<td class="registrationDate center">{{ student.registrationDate }}</td>
					<td class="center">Parto Eut&oacute;cico Simple</td>
					<td class="currentPhase center"></td>
					<td class="points center">{{ student.points }}</td>
					<td class="center ">
					<a href="#">
						<i class="halflings-icon zoom-in"></i>  
					</a>
					<a class="edit-student" href="#">
						<i class="halflings-icon edit"></i>  
					</a>
					<a class="openModal" href="#">
						<i class="halflings-icon trash"></i> 
					</a>
				</td>
				</tr>
				{% endfor %}
				<tr id="tr-form" style="display:none">
					<form id="student-form" action="students" method="post">
						<input type="hidden" id="idStudent" name="idStudent" value="undefined">
						<td><input type="text" name="fullName" id="fullName" placeholder="Nombre de Estudiante"/></td>
						<td id="date-register"></td>
						<td>
							<select id="programName" name="programName">
								<option value="Parto Eutocico Simple">Parto Eutocico Simple</option>
							</select>
						</td>
						<td>
							<select id="phase" name="phase">
							{% for phase in phases %}
								<option value="{{ phase.phase_id }}">{{ phase.phaseName }}</option>
							{% endfor %}
							</select>
						</td>
						<td id="user-points">0</td>
						<td>
							<a id="accept-add-student" href="#">
								<i class="halflings-icon ok"></i> 
							</a>
							<a id="cancel-add-student" href="#">
								<i class="halflings-icon remove"></i> 
							</a>
						</td>
					</form>
				</tr>
			  </tbody>
		 </table>  
		 <div class="center">
		 	<a id="add-student" class="btn btn-info" href="#">
				<i class="halflings-icon white plus"></i> Nuevo Estudiante 
			</a>
		 </div>
	</div>			
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".student_id").each(function(index, element){
			var studentId = $(element).attr('data-id');
			data = {studentId: studentId};

			$.ajax({
				url: "getPhaseStudent",
				data: data,
	            type: 'GET',
	            success: function(receivedData){
	            	var currentPhase = $(element).find(".currentPhase");
	            	$(currentPhase).attr("id", receivedData.phaseId);
		        	$(currentPhase).html(receivedData.phaseName);
	            }            
        	});
		})
	});

	$("#add-student").click(function(){
		var fullDate = new Date();
		var twoDigitMonth = fullDate.getMonth()+"";if(twoDigitMonth.length==1)	twoDigitMonth="0" +twoDigitMonth;
		var twoDigitDate = fullDate.getDate()+"";if(twoDigitDate.length==1)	twoDigitDate="0" +twoDigitDate;
		var currentDate = twoDigitDate + "/" + twoDigitMonth + "/" + fullDate.getFullYear();

		$("#date-register").html(currentDate);
		$("#tr-form").show();
	});

	$(".edit-student").click(function(){
		trParent = $(this).parent().parent();
		var id = $(trParent).attr("data-id");
		var fullName = $(trParent).find(".studentFullName").html();
		var registrationDate = $(trParent).find(".registrationDate").html();
		var points = $(trParent).find(".points").html();
		var currentPhase = $(trParent).find(".currentPhase").attr("id");

		var phaseSelector = "#phase option[value="+ currentPhase +"]";

		$("#idStudent").val(id);
		$("#fullName").val(fullName);
		$("#date-register").html(registrationDate);
		$("#user-points").html(points);
		$(phaseSelector).prop("selected", true);

		$("#tr-form").show();
	});

	$("#cancel-add-student").click(function(){
		$("#idStudent").val("undefined");
		$("#fullName").val("");
		$("#date-register").html("");
		$("#user-points").html("0");

		$("#tr-form").hide();
	});

	$("#accept-add-student").click(function(){
		$("#student-form").submit();
	});

	studentId = '';
	phaseId = '';

	function customSelectElement(element){
		var trParent = $(element).parentsUntil('tbody')[1];
		studentId = $(trParent).attr('data-id');
		phaseId = $(trParent).find('.currentPhase').attr('id');
	}

	function deleteElement(){
		$.form('/deleteStudent', { _id: studentId, phaseId: phaseId }, 'POST').submit();
	}
</script>
{% endblock %}